PORT=9000

# Postgres Database
DATABSE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=squadco_hackademy_portal
DATABASE_SYNCHRONIZE=true


# JWT
JWT_SECRET=mysecretkey
JWT_EXPIRES_IN=7d

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER= 
EMAIL_PASS=